#header{
    margin:0 auto;
    height:900px;
    width:980px;
    border:1px solid red;
    background-image: url(nsh.img/content_bg.jpg);
    background-repeat:no-repeat;
}



/*  */
#ender{
    width: 980px;
    height: 150px;
    margin:0 auto;
    background-image: url(nsh.img/ender_bg.png);
    background-repeat: repeat-x;
}
#ender p{
    text-align:center;
    line-height:150px;
}